listen_addresses = ['127.0.0.1:53']
max_clients = 250

ipv4_servers = true
ipv6_servers = false
dnscrypt_servers = true
doh_servers = false
odoh_servers = false

server_names = [
  'quad9-dnscrypt-ip4-filter-pri',
  'quad9-dnscrypt-ip4-filter-alt',
  'dct-de',
  'dct-fr',
  'digitalprivacy.diy-dnscrypt-ipv4'
]

require_dnssec = true
require_nolog = true
require_nofilter = false

ignore_system_dns = true
# Quad9 and mullvad as bootstrap resolvers
bootstrap_resolvers = ['9.9.9.9:53', '194.242.2.2:53']
netprobe_address = '9.9.9.9:53'
netprobe_timeout = 60

cache = true
cache_size = 4096
cache_min_ttl = 2400
cache_max_ttl = 86400

[anonymized_dns]
skip_incompatible = true
## Relays prioritized by privacy laws (Switzerland, Germany, France)
routes = [
  { server_name='*', via=['anon-cs-ch', 'anon-cs-de2', 'anon-dct-de', 'anon-digitalprivacy.diy-ipv4', 'anon-cs-fr'] },
]

[sources.quad9-resolvers]
urls = [
    'https://quad9.net/dnscrypt/quad9-resolvers.md',
    'https://raw.githubusercontent.com/Quad9DNS/dnscrypt-settings/main/dnscrypt/quad9-resolvers.md'
]
minisign_key = "RWTp2E4t64BrL651lEiDLNon+DqzPG4jhZ97pfdNkcq1VDdocLKvl5FW"
cache_file = "quad9-resolvers.md"
refresh_delay = 72
prefix = "quad9-"

[sources.public-resolvers]
urls = [
  'https://raw.githubusercontent.com/DNSCrypt/dnscrypt-resolvers/master/v3/public-resolvers.md',
  'https://download.dnscrypt.info/resolvers-list/v3/public-resolvers.md'
]
cache_file = 'public-resolvers.md'
minisign_key = 'RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7GFO3'
refresh_delay = 73

[sources.relays]
urls = [
  'https://raw.githubusercontent.com/DNSCrypt/dnscrypt-resolvers/master/v3/relays.md',
  'https://download.dnscrypt.info/resolvers-list/v3/relays.md',
]
cache_file = 'relays.md'
minisign_key = 'RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7GFO3'
refresh_delay = 73
prefix = ''